/* Tags */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol,
ul {
  padding-left: 0 !important;
  list-style: none;
}

/* setCenter */
.title-signin,
.bottom,
.score,
.op1,
.op2,
.score-title,
.line,
.center,
.users-list,
.logo {
  text-align: center;
}

/* Margin-left / right auto */
.content-dashboard,
.NavigationBar,
.nav,
.card {
  margin-left: auto;
  margin-right: auto;
}
/* other margin */
.add-question-title {
  margin-left: 15px;
}

.error-page {
  margin: 100px;
}

/* Full width */
.content-dashboard,
.NavigationBar,
.form,
#one,
#two,
.line,
.btn {
  width: 100%;
}

/* Card bootstrap overwrite*/
.navbar,
.card-header {
  background: #72c8eb !important;
}
.card-header-signin {
  justify-content: center;
}

.card {
  max-width: 600px !important;
  margin-top: 10px;
}

.card-title {
  margin-top: 0.8em !important;
}
/* Nav Styling */

.navbar {
  border-bottom: 6px solid #d44041;
  padding-bottom: 0 !important;
}

.nav-pills .nav-link.active {
  background: #d44041 !important;
  color: white !important;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
}

.NavigationBar {
  max-width: 700px;
}

.nav {
  justify-content: center;
  padding: 1px;
  margin-top: -6px;
  max-width: 615px !important;
}
.nav-item.nav-link.active {
  background: #d44041 !important;
  color: white !important;
}

.nav-item {
  padding: 0.5rem 4.6rem !important;
  border: 0 !important;
}

.nav-tabs {
  border-color: #d44041 !important;
}

.right-nav {
  margin-left: auto;
  padding-right: 10px;
}

.me-auto {
  margin: auto;
}
/* buttons Style */
.btn-primary {
  background: #72c8eb !important;
}
.active {
  cursor: pointer;
  font-weight: bold;
}

.button-Question {
  margin-top: 2.5em !important;
}
.button-submit {
  margin-top: 2em !important;
}
.button {
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  position: relative;
}

.button:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.button:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.button-signin {
  width: 95%;
  font-size: 1.25em;
}
/* containers */
.content-dashboard {
  max-width: 615px;
  border: 1px solid black;
  margin-bottom: 40px;
  border-radius: 5px;
  margin-top: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.score {
  border: 2px solid black;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50px;
  background: #d44041;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner {
  padding-top: 3px;
  padding-bottom: 3px;
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0;
}

.inner-poll {
  background: #72c8eb;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 20px;
}

.result-container {
  margin: auto 0 !important;
}

.ml {
  margin-left: -25px;
}

#noanim-tab-example-tab-unanswered {
  border-right: 1px solid black !important;
  border-top-right-radius: 0;
}

.bottom {
  width: 95%;
  margin-top: -13px;
  border-bottom: 1px solid #2b296a;
}

.score span {
  font-size: 2em;
  color: white;
}

#activeOne {
  background: #72c8eb;
}

/* Your Vote */
.op1,
.op2 {
  border: 2px solid white;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 5px 20px 5px;
  background-color: #d44041;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
  position: absolute;
  color: white;
}
.op1 {
  right: 0;
  top: 20%;
}
.op2 {
  right: 0;
  top: 58%;
}

/* other Styling */
.line span {
  background: white;
  padding: 0 10px;
}

.users-list {
  margin-top: 0;
}

.mySelect__value-container,
.options-list {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.25em;
}

.disabled {
  cursor: none;
}

.left-view {
  text-align: left;
}

/* Images */
.avater {
  width: 40px;
  vertical-align: bottom;
  border: 2px solid black;
  border-radius: 50px;
}
.wyr-image {
  max-width: 300px;
  margin: auto;
}

.image {
  width: 171px;
  height: 180px;
  border-radius: 50px !important;
}

/* Form */
.form,
#one,
#two {
  padding: 0 8px 0 8px;
  margin: 8px 0 8px 0;
  border-color: #d44041;
}

#one,
#two {
  height: 45px;
  border-radius: 0.2rem;
}

.optionOne,
.optionTwo {
  border: 3px solid black;
  margin: 5px;
  padding: 5px 35px 5px 35px;
}
